:root {
	font-size: 16px;
	@include breakpoint-up($size_mobile) {
		font-size: 16px;
	}
	@include breakpoint-up($size_tablet) {
		font-size: 18px;
	}
	@include breakpoint-up($size_desktop) {
		font-size: 22px;
	}
}

*, *::before, *::after {
	box-sizing: border-box;
}



::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #0b0b0b;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #f2f2f2;
	border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #454545;
  }

html{
	overflow-x: hidden;
}
body {
	margin: 0;
	padding: 0;
	line-height: 1.4;
	width: 100vw;
	overflow-x: hidden;
	padding: 0 1em;
	min-height: 100vh;
	font-family: $font_body;
	color: $color_light;
	background-color: $color_dark;
}

.flex {
	display: flex;
	&-jc-c {
		justify-content: center;
	}
	&-jc-sb {
		justify-content: space-between;
	}
	&-ai-c {
		align-items: center;
	}
	&-d-c{
		flex-direction: column;
	}
}

button{
	border: none;
}

ul{
	padding: 0;
	list-style-type: none;
}



.feedback {
	position: absolute;
	// bottom: -10vh;
	top: -10vh;
	left: 0;
	right: 0;
	text-align: center;
	background-color: $color_light;
	color: $color_dark;
	line-height: 2;
	min-width: 200px;
	margin: auto;
	// font-size: 0.8rem;
	padding: 5px;
	border-radius: 2px;
	width: max-content;
	
	opacity: 0;
	// display: none;
	z-index: 3;
  }


.cta, button{
	background-color: $color_primary;
      color: $color_dark;
      padding: 0.5em 3em;
      border-radius: 5px;
	  display: block;
	  width:max-content;
      font-weight: $font_bold;
	  text-decoration: none;
      border: none;
      margin: 1em auto;
      cursor: pointer;
      font-size: 1em;
}

img, video{
	max-width: 100%;
}