@import "mixins";
@import "variables";
@import "globals";

// ::-webkit-scrollbar {
//   width: 10px;
// }
// /* Track */
// ::-webkit-scrollbar-track {
//   background: $color_dark;
//   // border: 1px dotted $color_light;
//   border-radius: 5px;
//   // padding: 0.2em;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: rgba($color_light, 1);
//   border-radius: 5px;

// }
// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: $color_light;
// }

.body__section {
  margin: auto;
  @include breakpoint-up($size_mobile) {
    max-width: $size_tablet;
  }
  @include breakpoint-up($size_tablet) {
    max-width: $size_desktop;
  }
  @include breakpoint-up($size_desktop) {
    max-width: $size_desktop;
  }
}

.header {
  display: flex;
  // flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0;
  &__logo {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    &__image {
      width: 100%;
    }
    &__text {
      font-size: 0.7em;
      letter-spacing: 2px;
    }
  }
  &__title {
    font-weight: $font_light;
    font-size: 1em;
    display: flex;
    align-items: center;
    .link__signout{
      display: block;
      margin-left: 0.5em;
      cursor: pointer;
      display: flex;
      align-items: center;
    }
    // display: none;
  }
}

.navigation {
  padding: 1em 0;
  @include breakpoint-up($size_mobile) {
    padding: 0;
  }
  &__items {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 0;
    list-style-type: none;
    &__item {
      display: none;
      &-signout {
        position: absolute;
        top: 90vh;
        display: block;
        font-size: 0.8em;
        .link {
          opacity: 1;
        }
      }
      .link {
        background-color: transparent;
        color: $color_light;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 1.2em;
        padding: 0;
        position: relative;
        opacity: 0.3;

        &-active {
          opacity: 1;
          // border-bottom: 1px solid $color_primary;
          &:after {
            content: "";
            position: absolute;
            transition: 300ms;
            bottom: -10px;
            left: 0;
            height: 3px;
            width: 100%;
            border-radius: 5px;
            background-color: $color_primary;
          }
        }
      }
    }
  }
}

.auth {
  // padding: 50px 0;
  margin-top: 50px;
  position: relative;
  opacity: 0;
  &__signup {
    position: absolute;
    top: 0;
    opacity: 0;
  }
  &__signin {
    opacity: 1;
  }
  &__form {
    width: 100%;
    .auth__section {
      display: flex;
      flex-direction: column;
      position: relative;
      margin: 0 0 50px 0;
      @include breakpoint-up($size_mobile) {
        margin: 0 0 25px 0;
      }
      &__label {
        font-size: 1.1em;
        font-weight: $font_bold;
        display: block;
        width: max-content;
      }
      &__input {
        background-color: rgba($color_light, 0.1);
        border: none;
        outline: none;
        padding: 1em 0.5em;
        font-size: 0.9em;
        border-radius: 3px 3px 0 0;
        color: $color_light;
        margin: 5px 0 0;
        &[type="email"]:not(:placeholder-shown):invalid {
          & + .auth__section__span {
            background-color: red;
          }
        }
        &:focus {
          // outline-color: $color_primary;
          // border: none;
          & + .auth__section__span {
            background-color: $color_primary;
          }
        }
        &::placeholder {
          font-size: 1em;
          color: rgba($color_light, 0.3);
          font-weight: $font_light;
        }
      }
      &__span {
        content: "";
        position: absolute;
        bottom: -5px;
        height: 5px;
        width: 100%;
        border-radius: 0 0 5px 5px;
        background-color: rgba($color_light, 0.3);
      }
    }
    &__button {
      background-color: $color_light;
      color: $color_dark;
      padding: 0.5em 3em;
      border-radius: 5px;
      display: block;
      cursor: pointer;
      font-weight: $font_bold;
      border: none;
      margin: 2em auto 0;
      font-size: 1em;
    }
  }
}

.books {
  overflow-x: auto;
  @include breakpoint-up($size_mobile){
  margin-top: 50px;

  }
  &__list {
    display: flex;
    width: fit-content;
    margin: 1em auto;
    perspective: 2000px;
    padding: 0.5em;

    &__text {
      margin: auto;
    }
    .book {
      width: 150px;
      height: 250px;
      // border: 1px solid $color_light;
      border-radius: 2px;
      cursor: pointer;
      transform-style: preserve-3d;
      background-color: $color_dark;
      margin: 5px;
      opacity: 0;
      position: relative;
      // transform: rotateX(10deg);
      transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
      // &:hover{
      //   transform: scale(1.02);
      // }
      @include breakpoint-up($size_mobile) {
        width: 200px;
      height: 300px;
      }
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 20px;
        top: 100%;
        left: 0;
        border: 1px solid $color_light;
        background-color: $color_dark;

        // background-color: $color_light;
        transform-origin: top;
        transform: rotateX(-90deg);
      }
      &::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 100%;
        top: 0;
        left: 0;
        border: 1px solid $color_light;
        background-color: $color_dark;

        // background-color: $color_light;
        transform-origin: left;
        transform: rotateY(90deg);
        // transform: rotateX(45deg);
      }
      .front {
        border: 1px solid $color_light;
        padding: 0.5em;

        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 100%;
      }
      .back {
        border: 1px solid $color_light;
        position: absolute;
        padding: 0.5em;
        font-size: 0.8rem;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;
        background-color: $color_dark;
        backface-visibility: hidden;
        transform: translateZ(-20px) rotateY(180deg);
        &__section {
          
          &__label {
            font-size: 1.1em;
            font-weight: $font_bold;
            display: flex;
            align-items: center;
            width: max-content;
            position: relative;
          }
          &__input {
            background-color: rgba($color_light, 0.1);
            border: none;
            outline: none;
            padding: 1em 0.5em;
            font-size: 0.9em;
            border-radius: 3px 3px 0 0;
            color: $color_light;
            margin: 5px 0 0;
            &__finished, &__remove {
              display: none;
              &:checked ~ .toggle {
                background-color: $color_light;
              }
            }
          }
          &__toggle {
            width: 1em;
            height: 1em;
            border-radius: 2px;
            border: 1px solid $color_light;
            margin-right: 5px;
            display: inline-block;
            // background-color: $color_light;
            // position: absolute;
            // transition: transform 0.5s;
          }
          &__span {
            content: "";
            position: absolute;
            bottom: -5px;
            height: 5px;
            width: 100%;
            border-radius: 0 0 5px 5px;
            background-color: rgba($color_light, 0.3);
            font-weight: $font_light;
          }
        }
      }
      &.flipped {
        transform: rotateY(180deg);
      }
      &__new {
        &__title {
          color: red;
        }
      }
      &__title {
        font-weight: $font_bold;
        font-size: 1em;
      }
      &__completion {
        font-weight: $font_bold;
        font-size: 0.8em;
        text-align: right;
      }
      &__progress {
        font-weight: $font_bold;
        font-size: 0.8em;
        display: flex;
        justify-content: center;
        align-items: center;
        &__button {
          background-color: $color_light;
          color: $color_dark;
          display: block;
          width: 3em;
          height: 3em;
          user-select: none;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          @include breakpoint-up($size_mobile){
            width: 2em;
          height: 2em;
          }
        }
        &__value {
          margin: 0 5px;
          width: 5em;
          border: 1px solid $color_light;
          border-radius: 5px;
          padding: 0.5em;
          color: $color_light;
          background-color: $color_dark;
        }
      }
      &__save {
        background-color: $color_light;
        color: $color_dark;
        // margin-top: auto;
        font-weight: $font_bold;
        border-radius: 3px;
        padding: 3px 5px;
        font-size: 0.8em;
      }
    }
  }
  &__form {
    width: 100%;
    display: none;
    .books__section {
      display: flex;
      flex-direction: column;
      position: relative;
      margin: 0 0 50px 0;
      @include breakpoint-up($size_mobile) {
        margin: 0 0 25px 0;
      }

      &__label {
        font-size: 1.1em;
        font-weight: $font_bold;
        display: block;
        width: max-content;
        position: relative;
      }
      &__input {
        background-color: rgba($color_light, 0.1);
        border: none;
        outline: none;
        padding: 1em 0.5em;
        font-size: 0.9em;
        border-radius: 3px 3px 0 0;
        color: $color_light;
        margin: 5px 0 0;
        &__completed {
          display: none;
          &:checked ~ .toggle {
            background-color: $color_light;
          }
        }
        &[type="text"]:not(:placeholder-shown):invalid {
          & + .auth__section__span {
            background-color: red;
          }
        }
        &:focus {
          // outline-color: $color_primary;
          // border: none;
          & + .book__section__span {
            background-color: $color_primary;
          }
        }
        &::placeholder {
          font-size: 1.3em;
          color: rgba($color_light, 0.3);
          font-weight: $font_light;
        }
      }
      &__toggle {
        width: 1em;
        height: 1em;
        border-radius: 3px;
        border: 1px solid $color_light;
        margin-right: 5px;
        display: inline-block;
        // background-color: $color_light;
        // position: absolute;
        // transition: transform 0.5s;
      }
      &__span {
        content: "";
        position: absolute;
        bottom: -5px;
        height: 5px;
        width: 100%;
        border-radius: 0 0 5px 5px;
        background-color: rgba($color_light, 0.3);
      }
    }
    &__button {
      background-color: $color_light;
      color: $color_dark;
      padding: 0.5em 3em;
      border-radius: 5px;
      display: block;
      font-weight: $font_bold;
      border: none;
      margin: 50px auto 0;
      font-size: 1em;
    }
  }
}
