@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap");
:root {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  :root {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 18px;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    font-size: 22px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  width: 100vw;
  overflow: hidden;
  padding: 0 1em;
  min-height: 100vh;
  font-family: Roboto, sans-serif;
  color: #f0f0f0;
  background-color: #000000;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button {
  border: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

.body__section {
  margin: auto;
}

@media screen and (min-width: 320px) {
  .body__section {
    max-width: 768px;
  }
}

@media screen and (min-width: 768px) {
  .body__section {
    max-width: 1024px;
  }
}

@media screen and (min-width: 1024px) {
  .body__section {
    max-width: 1024px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
}

.header__logo {
  width: 50px;
  height: 50px;
}

.header__logo__image {
  width: 100%;
}

.header__title {
  font-weight: 100;
  font-size: 1em;
}

.navigation {
  padding: 25px 0;
}

.navigation__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
  list-style-type: none;
}

.navigation__items__item {
  display: none;
}

.navigation__items__item-signout {
  display: block;
}

.navigation__items__item .link {
  background-color: transparent;
  color: #f0f0f0;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 0;
  position: relative;
  opacity: 0.3;
}

.navigation__items__item .link-active {
  opacity: 1;
}

.navigation__items__item .link-active:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 3px;
  width: 100%;
  border-radius: 5px;
  background-color: #148FE8;
}

.auth {
  margin-top: 50px;
  position: relative;
}

.auth__signup {
  position: absolute;
  top: 0;
}

.auth__signin {
  opacity: 0;
}

.auth__form {
  width: 100%;
}

.auth__form .auth__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin: 0 0 50px 0;
}

.auth__form .auth__section__label {
  font-size: 1.1em;
  font-weight: 500;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.auth__form .auth__section__input {
  background-color: rgba(240, 240, 240, 0.1);
  border: none;
  outline: none;
  padding: 1em 0.5em;
  font-size: 0.9em;
  border-radius: 3px 3px 0 0;
  color: #f0f0f0;
  margin: 5px 0 0;
}

.auth__form .auth__section__input[type="email"]:not(:placeholder-shown):invalid + .auth__section__span {
  background-color: red;
}

.auth__form .auth__section__input:focus + .auth__section__span {
  background-color: #148FE8;
}

.auth__form .auth__section__input::-webkit-input-placeholder {
  font-size: 1.3em;
  color: rgba(240, 240, 240, 0.3);
  font-weight: 100;
}

.auth__form .auth__section__input:-ms-input-placeholder {
  font-size: 1.3em;
  color: rgba(240, 240, 240, 0.3);
  font-weight: 100;
}

.auth__form .auth__section__input::-ms-input-placeholder {
  font-size: 1.3em;
  color: rgba(240, 240, 240, 0.3);
  font-weight: 100;
}

.auth__form .auth__section__input::placeholder {
  font-size: 1.3em;
  color: rgba(240, 240, 240, 0.3);
  font-weight: 100;
}

.auth__form .auth__section__span {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 5px;
  width: 100%;
  border-radius: 0 0 5px 5px;
  background-color: rgba(240, 240, 240, 0.3);
}

.auth__form__button {
  background-color: #f0f0f0;
  color: #000000;
  padding: 0.5em 3em;
  border-radius: 5px;
  display: block;
  font-weight: 500;
  border: none;
  margin: 50px auto 0;
  font-size: 1em;
}

.books {
  overflow-x: auto;
}

.books__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.books__list .book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 200px;
  height: 300px;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  margin: 5px;
  padding: 0.5em;
  opacity: 0;
}

.books__list .book__title {
  font-weight: 500;
  font-size: 1.5em;
}

.books__form {
  display: none;
}
/*# sourceMappingURL=style.css.map */