@import "mixins";
@import "variables";
@import "globals";

.body__section {
  margin: auto;
  // overflow-x: hidden;
  @include breakpoint-up($size_mobile) {
    max-width: $size_tablet;
  }
  @include breakpoint-up($size_tablet) {
    max-width: $size_desktop;
  }
  @include breakpoint-up($size_desktop) {
    max-width: $size_desktop;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  &__logo {
    width: 50px;
    height: 50px;
    &__image {
      width: 100%;
    }
  }
  &__title {
    font-weight: $font_light;
    font-size: 1em;
    // display: none;
  }
}

.navigation {
  padding: 25px 0;
  @include breakpoint-up($size_mobile) {
    padding: 0;
  }
  &__items {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 0;
    list-style-type: none;
    &__item {
      display: none;
    //   &-signout {
    //     display: block;
    //   }
      .link {
        background-color: transparent;
        color: $color_light;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 1.2em;
        padding: 0;
        position: relative;
        opacity: 0.3;

        &-active {
          opacity: 1;
          // border-bottom: 1px solid $color_primary;
          &:after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 0;
            height: 3px;
            width: 100%;
            border-radius: 5px;
            background-color: $color_primary;
          }
        }
      }
    }
  }
}

.auth {
  // padding: 50px 0;
  margin-top: 50px;
  position: relative;
  &__signup {
    position: absolute;
    top: 0;
    opacity: 0;
  }
  &__signin {
    opacity: 1;
  }
  &__form {
    width: 100%;
    .auth__section {
      display: flex;
      flex-direction: column;
      position: relative;
      margin: 0 0 50px 0;
      @include breakpoint-up($size_mobile) {
        margin: 0 0 25px 0;
      }
      &__label {
        font-size: 1.1em;
        font-weight: $font_bold;
        display: block;
        width: max-content;
      }
      &__input {
        background-color: rgba($color_light, 0.1);
        border: none;
        outline: none;
        padding: 1em 0.5em;
        font-size: 0.9em;
        border-radius: 3px 3px 0 0;
        color: $color_light;
        margin: 5px 0 0;
        &[type="email"]:not(:placeholder-shown):invalid {
          & + .auth__section__span {
            background-color: red;
          }
        }
        &:focus {
          // outline-color: $color_primary;
          // border: none;
          & + .auth__section__span {
            background-color: $color_primary;
          }
        }
        &::placeholder {
          font-size: 1.3em;
          color: rgba($color_light, 0.3);
          font-weight: $font_light;
        }
      }
      &__span {
        content: "";
        position: absolute;
        bottom: -5px;
        height: 5px;
        width: 100%;
        border-radius: 0 0 5px 5px;
        background-color: rgba($color_light, 0.3);
      }
    }
    &__button {
      background-color: $color_light;
      color: $color_dark;
      padding: 0.5em 3em;
      border-radius: 5px;
      display: block;
      font-weight: $font_bold;
      border: none;
      margin: 50px auto 0;
      font-size: 1em;
    }
  }
}

.books {
  margin-top: 50px;

  overflow-x: auto;
  &__list {
    display: flex;
    // min-width: 250px;
    width: fit-content;
    &__text{
        margin: auto;
    }
    .book {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 200px;
      height: 300px;
      border: 1px solid $color_light;
      border-radius: 5px;
      margin: 5px;
      padding: 0.5em;
      opacity: 0;
      &__new {
        &__title {
          color: red;
        }
      }
      &__title {
        font-weight: $font_bold;
        font-size: 1.5em;
      }
    }
  }
  &__form {
    width: 100%;
    display: none;
    .books__section {
      display: flex;
      flex-direction: column;
      position: relative;
      margin: 0 0 50px 0;
      @include breakpoint-up($size_mobile) {
        margin: 0 0 25px 0;
      }

      &__label {
        font-size: 1.1em;
        font-weight: $font_bold;
        display: block;
        width: max-content;
        position: relative;
      }
      &__input {
        background-color: rgba($color_light, 0.1);
        border: none;
        outline: none;
        padding: 1em 0.5em;
        font-size: 0.9em;
        border-radius: 3px 3px 0 0;
        color: $color_light;
        margin: 5px 0 0;
        &__completed {
          display: none;
          &:checked ~ .toggle{
              background-color: $color_light;
          }
        }
        &[type="text"]:not(:placeholder-shown):invalid {
          & + .auth__section__span {
            background-color: red;
          }
        }
        &:focus {
          // outline-color: $color_primary;
          // border: none;
          & + .book__section__span {
            background-color: $color_primary;
          }
        }
        &::placeholder {
          font-size: 1.3em;
          color: rgba($color_light, 0.3);
          font-weight: $font_light;
        }
      }
      &__toggle {
        width: 1em;
        height: 1em;
        border-radius: 3px;
        border: 1px solid $color_light;
        margin-right: 5px;
        display: inline-block;
        // background-color: $color_light;
        // position: absolute;
        // transition: transform 0.5s;
      }
      &__span {
        content: "";
        position: absolute;
        bottom: -5px;
        height: 5px;
        width: 100%;
        border-radius: 0 0 5px 5px;
        background-color: rgba($color_light, 0.3);
      }
    }
    &__button {
      background-color: $color_light;
      color: $color_dark;
      padding: 0.5em 3em;
      border-radius: 5px;
      display: block;
      font-weight: $font_bold;
      border: none;
      margin: 50px auto 0;
      font-size: 1em;
    }
  }
}
