@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap");
:root {
  font-size: 16px;
}

@media screen and (min-width: 370px) {
  :root {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 18px;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    font-size: 22px;
  }
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  width: 100vw;
  overflow: hidden;
  padding: 0 1em;
  min-height: 100vh;
  font-family: Roboto, sans-serif;
  color: #f0f0f0;
  background-color: #000000;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button {
  border: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

.feedback {
  position: absolute;
  top: -10vh;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #f0f0f0;
  color: #000000;
  line-height: 2;
  min-width: 200px;
  margin: auto;
  padding: 5px;
  border-radius: 2px;
  width: 90%;
  opacity: 0;
  z-index: 3;
}

.body__section {
  margin: auto;
}

@media screen and (min-width: 370px) {
  .body__section {
    max-width: 768px;
  }
}

@media screen and (min-width: 768px) {
  .body__section {
    max-width: 1024px;
  }
}

@media screen and (min-width: 1024px) {
  .body__section {
    max-width: 1024px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
}

.header__logo {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo__image {
  width: 100%;
}

.header__logo__text {
  font-size: 0.7em;
  letter-spacing: 2px;
}

.header__title {
  font-weight: 100;
  font-size: 1em;
}

.navigation {
  padding: 25px 0;
}

@media screen and (min-width: 370px) {
  .navigation {
    padding: 0;
  }
}

.navigation__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
  list-style-type: none;
}

.navigation__items__item {
  display: none;
}

.navigation__items__item-signout {
  position: absolute;
  top: 90vh;
  display: block;
  font-size: 0.8em;
}

.navigation__items__item-signout .link {
  opacity: 1;
}

.navigation__items__item .link {
  background-color: transparent;
  color: #f0f0f0;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 0;
  position: relative;
  opacity: 0.3;
}

.navigation__items__item .link-active {
  opacity: 1;
}

.navigation__items__item .link-active:after {
  content: "";
  position: absolute;
  -webkit-transition: 300ms;
  transition: 300ms;
  bottom: -10px;
  left: 0;
  height: 3px;
  width: 100%;
  border-radius: 5px;
  background-color: #148FE8;
}

.auth {
  margin-top: 50px;
  position: relative;
  opacity: 0;
}

.auth__signup {
  position: absolute;
  top: 0;
  opacity: 0;
}

.auth__signin {
  opacity: 1;
}

.auth__form {
  width: 100%;
}

.auth__form .auth__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin: 0 0 50px 0;
}

@media screen and (min-width: 370px) {
  .auth__form .auth__section {
    margin: 0 0 25px 0;
  }
}

.auth__form .auth__section__label {
  font-size: 1.1em;
  font-weight: 500;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.auth__form .auth__section__input {
  background-color: rgba(240, 240, 240, 0.1);
  border: none;
  outline: none;
  padding: 1em 0.5em;
  font-size: 0.9em;
  border-radius: 3px 3px 0 0;
  color: #f0f0f0;
  margin: 5px 0 0;
}

.auth__form .auth__section__input[type="email"]:not(:placeholder-shown):invalid + .auth__section__span {
  background-color: red;
}

.auth__form .auth__section__input:focus + .auth__section__span {
  background-color: #148FE8;
}

.auth__form .auth__section__input::-webkit-input-placeholder {
  font-size: 1.3em;
  color: rgba(240, 240, 240, 0.3);
  font-weight: 100;
}

.auth__form .auth__section__input:-ms-input-placeholder {
  font-size: 1.3em;
  color: rgba(240, 240, 240, 0.3);
  font-weight: 100;
}

.auth__form .auth__section__input::-ms-input-placeholder {
  font-size: 1.3em;
  color: rgba(240, 240, 240, 0.3);
  font-weight: 100;
}

.auth__form .auth__section__input::placeholder {
  font-size: 1.3em;
  color: rgba(240, 240, 240, 0.3);
  font-weight: 100;
}

.auth__form .auth__section__span {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 5px;
  width: 100%;
  border-radius: 0 0 5px 5px;
  background-color: rgba(240, 240, 240, 0.3);
}

.auth__form__button {
  background-color: #f0f0f0;
  color: #000000;
  padding: 0.5em 3em;
  border-radius: 5px;
  display: block;
  cursor: pointer;
  font-weight: 500;
  border: none;
  margin: 50px auto 0;
  font-size: 1em;
}

.books {
  overflow-x: auto;
}

@media screen and (min-width: 370px) {
  .books {
    margin-top: 50px;
  }
}

.books__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1em auto;
  -webkit-perspective: 2000px;
          perspective: 2000px;
  padding: 0.5em;
}

.books__list__text {
  margin: auto;
}

.books__list .book {
  width: 150px;
  height: 250px;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  background-color: #000000;
  margin: 5px;
  opacity: 0;
  position: relative;
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 1s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1s cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 370px) {
  .books__list .book {
    width: 200px;
    height: 300px;
  }
}

.books__list .book::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  top: 100%;
  left: 0;
  border: 1px solid #f0f0f0;
  background-color: #000000;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}

.books__list .book::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  top: 0;
  left: 0;
  border: 1px solid #f0f0f0;
  background-color: #000000;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
}

.books__list .book .front {
  border: 1px solid #f0f0f0;
  padding: 0.5em;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 100%;
}

.books__list .book .back {
  border: 1px solid #f0f0f0;
  position: absolute;
  padding: 0.5em;
  font-size: 0.8rem;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  background-color: #000000;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateZ(-20px) rotateY(180deg);
          transform: translateZ(-20px) rotateY(180deg);
}

.books__list .book .back__section__label {
  font-size: 1.1em;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
}

.books__list .book .back__section__input {
  background-color: rgba(240, 240, 240, 0.1);
  border: none;
  outline: none;
  padding: 1em 0.5em;
  font-size: 0.9em;
  border-radius: 3px 3px 0 0;
  color: #f0f0f0;
  margin: 5px 0 0;
}

.books__list .book .back__section__input__finished, .books__list .book .back__section__input__remove {
  display: none;
}

.books__list .book .back__section__input__finished:checked ~ .toggle, .books__list .book .back__section__input__remove:checked ~ .toggle {
  background-color: #f0f0f0;
}

.books__list .book .back__section__toggle {
  width: 1em;
  height: 1em;
  border-radius: 2px;
  border: 1px solid #f0f0f0;
  margin-right: 5px;
  display: inline-block;
}

.books__list .book .back__section__span {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 5px;
  width: 100%;
  border-radius: 0 0 5px 5px;
  background-color: rgba(240, 240, 240, 0.3);
  font-weight: 100;
}

.books__list .book.flipped {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.books__list .book__new__title {
  color: red;
}

.books__list .book__title {
  font-weight: 500;
  font-size: 1em;
}

.books__list .book__completion {
  font-weight: 500;
  font-size: 0.8em;
  text-align: right;
}

.books__list .book__progress {
  font-weight: 500;
  font-size: 0.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.books__list .book__progress__button {
  background-color: #f0f0f0;
  color: #000000;
  display: block;
  width: 3em;
  height: 3em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 370px) {
  .books__list .book__progress__button {
    width: 2em;
    height: 2em;
  }
}

.books__list .book__progress__value {
  margin: 0 5px;
  width: 5em;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  padding: 0.5em;
  color: #f0f0f0;
  background-color: #000000;
}

.books__list .book__save {
  background-color: #f0f0f0;
  color: #000000;
  font-weight: 500;
  border-radius: 3px;
  padding: 3px 5px;
  font-size: 0.8em;
}

.books__form {
  width: 100%;
  display: none;
}

.books__form .books__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin: 0 0 50px 0;
}

@media screen and (min-width: 370px) {
  .books__form .books__section {
    margin: 0 0 25px 0;
  }
}

.books__form .books__section__label {
  font-size: 1.1em;
  font-weight: 500;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
}

.books__form .books__section__input {
  background-color: rgba(240, 240, 240, 0.1);
  border: none;
  outline: none;
  padding: 1em 0.5em;
  font-size: 0.9em;
  border-radius: 3px 3px 0 0;
  color: #f0f0f0;
  margin: 5px 0 0;
}

.books__form .books__section__input__completed {
  display: none;
}

.books__form .books__section__input__completed:checked ~ .toggle {
  background-color: #f0f0f0;
}

.books__form .books__section__input[type="text"]:not(:placeholder-shown):invalid + .auth__section__span {
  background-color: red;
}

.books__form .books__section__input:focus + .book__section__span {
  background-color: #148FE8;
}

.books__form .books__section__input::-webkit-input-placeholder {
  font-size: 1.3em;
  color: rgba(240, 240, 240, 0.3);
  font-weight: 100;
}

.books__form .books__section__input:-ms-input-placeholder {
  font-size: 1.3em;
  color: rgba(240, 240, 240, 0.3);
  font-weight: 100;
}

.books__form .books__section__input::-ms-input-placeholder {
  font-size: 1.3em;
  color: rgba(240, 240, 240, 0.3);
  font-weight: 100;
}

.books__form .books__section__input::placeholder {
  font-size: 1.3em;
  color: rgba(240, 240, 240, 0.3);
  font-weight: 100;
}

.books__form .books__section__toggle {
  width: 1em;
  height: 1em;
  border-radius: 3px;
  border: 1px solid #f0f0f0;
  margin-right: 5px;
  display: inline-block;
}

.books__form .books__section__span {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 5px;
  width: 100%;
  border-radius: 0 0 5px 5px;
  background-color: rgba(240, 240, 240, 0.3);
}

.books__form__button {
  background-color: #f0f0f0;
  color: #000000;
  padding: 0.5em 3em;
  border-radius: 5px;
  display: block;
  font-weight: 500;
  border: none;
  margin: 50px auto 0;
  font-size: 1em;
}
/*# sourceMappingURL=style.css.map */